.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;

  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg_img_mob.jpg");
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_img__mob_2x.jpg);
  }
  @include tab {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_img_tab.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg_img_tab_2x.jpg);
    }
  }

  @include desk {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg_img.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg_img_2x.jpg);
    }
  }
}

.hero__title {
  @include font(26px, 900, 1.62, 0.06em);
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  color: var(--btn-color);
  @include desk {
    @include font(44px, 900, 1.36, 0.06em);
  }
}

.hero__btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;

  font-family: inherit;
  @include font(16px, 700, 1.87, 0.06em);

  color: var(--btn-color);

  & {
    background-color: var(--accent-color);
  }
}

