.reasons-list {
  // display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.reasons-list__item {
  margin-bottom: 30px;
  // width: 270px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.reasons-list__icon--link {
  // width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.reasons-list__pre--titile {
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-color);
}

.work {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.reasons-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work-list__link {
  width: 370px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-list__img {
  width: 370px;
  height: 294px;
  position: relative;
}
/*----текст на картинку----*/

.work-list__actions {
  position: absolute;
  display: flex;
  text-align: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  justify-content: center;
  align-items: center;

  @include font(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--btn-color);
}
