.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 3px solid tomato; 
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  